.container {
  background-color: rgb(241, 251, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container h1 {
  margin-bottom: 2rem;
  padding-top: 1rem;
  text-decoration: underline;
}

.item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.item-count button {
  margin: 0 0.4rem;
}
